.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-dots {
  padding: 10px 10px 30px;
}

.featured-subheader {
  margin-top: 10px;
}

.slick-next {
  right: -10px !important;
}

.slick-prev {
  left: -10px !important;
}
